<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  {{ partial('_partials/head/head.njk', {}, {cache: theme.cache.enable}) }}
  {%- include '_partials/head/head-unique.njk' -%}
  <title>{% block title %}{% endblock %}</title>
  {{ partial('_third-party/analytics/index.njk', {}, {cache: theme.cache.enable}) }}
  {{- next_inject('head') }}
  <noscript>
    <link rel="stylesheet" href="{{ url_for(theme.css) }}/noscript.css">
  </noscript>
</head>

<body itemscope itemtype="http://schema.org/WebPage"{% if theme.motion.enable %} class="use-motion"{% endif %}>
  <div class="headband"></div>

  <main class="main">
    <div class="column">
      <header class="header" itemscope itemtype="http://schema.org/WPHeader">
        {%- include '_partials/header/index.njk' -%}
      </header>
      {%- if theme.sidebar.display !== 'remove' %}
        {% block sidebar %}{% endblock %}
      {%- endif %}
    </div>

    <div class="main-inner {% block class %}{% endblock %}">
      {%- include '_partials/header/sub-menu.njk' -%}
      {% block content %}{% endblock %}
      {%- include '_partials/comments.njk' -%}
    </div>
  </main>

  <footer class="footer">
    <div class="footer-inner">
      {%- include '_partials/languages.njk' -%}
      {{ partial('_partials/footer.njk', {}, {cache: theme.cache.enable}) }}
    </div>
  </footer>

  {{ partial('_partials/widgets.njk', {}, {cache: theme.cache.enable}) }}

  {{ partial('_scripts/index.njk', {}, {cache: theme.cache.enable}) }}
  {{ partial('_third-party/index.njk', {}, {cache: theme.cache.enable}) }}
  {{ partial('_third-party/statistics/index.njk', {}, {cache: theme.cache.enable}) }}

  {%- include '_third-party/math/index.njk' -%}
  {%- include '_third-party/quicklink.njk' -%}

  {{- next_inject('bodyEnd') }}

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-18MK2QJN0M"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-18MK2QJN0M');
  </script>

  <script>
  function updateTagCloudColors() {
  let darkColors = ['#555555', '#646464', '#737373', '#828282', '#929292', '#a1a1a1', '#b0b0b0', '#c0c0c0', '#cfcfcf', '#dedede', '#eeeeee'];
  let lightColors = ['#aaaaaa', '#9a9a9a', '#8b8b8b', '#7c7c7c', '#6c6c6c', '#5d5d5d', '#4e4e4e', '#3e3e3e', '#2f2f2f', '#202020', '#111111'];

  for (let i = 0; i <= 10; i++) {
      let elements = document.querySelectorAll('.tag-cloud-' + i);
      for (let j = 0; j < elements.length; j++) {
        elements[j].style.borderBottomColor = lightColors[i];
        elements[j].style.color = lightColors[i];
        if (document.body.classList.contains('darkmode--activated')) {
            elements[j].style.borderBottomColor = darkColors[i];
            elements[j].style.color = darkColors[i];
        }
      }
    }
  }
  window.onload = updateTagCloudColors;
  document.querySelector('.darkmode-toggle').addEventListener('click', updateTagCloudColors);
  </script>
  <script src="/js/checkbox_add_space.js"></script>
</body>
</html>
